.home{
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    top: 80px;
    background-color: #f6f7ff;
    z-index: 1;
    border-top: 1px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;

    .home-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .home-bg-shape{
            width: 100%;
            height: 100%;
            background-image: url("../../assets/home-bg.png");
            position: absolute;
            top: 0;
            right: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right top;
            z-index: -1;
        }
        .anim-elements{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;

            .anim-element{
                position: absolute;
            }
            .anim-element:nth-child(1){
                background-color: rgba(0, 201, 157,0.6);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 12%;
                left: 15%;
                animation: animTwo 13s infinite linear;
            }
            .anim-element:nth-child(2) {
                border: 5px solid rgba(0, 153, 229,0.30);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                top: 15%;
                left: 45%;
                -webkit-animation: animOne 15s infinite linear;
                animation: animOne 15s infinite linear;
            }
            .anim-element:nth-child(3) {
                border: 5px solid rgba(244, 34, 104,0.3);
                width: 25px;
                height: 25px;
                bottom: 20%;
                left: 30%;
                -webkit-animation: animFour 15s infinite linear alternate;
                animation: animFour 15s infinite linear alternate;
            }
            .anim-element:nth-child(4) {
                background: rgba(252, 162, 73,0.80);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                bottom: 15%;
                right: 25%;
                -webkit-animation: animFive 15s infinite linear alternate;
                animation: animFive 15s infinite linear alternate;
            }
            .anim-element:nth-child(5) {
                background: rgba(100, 45, 250,.4);
                width: 3px;
                height: 20px;
                top: 18%;
                right: 25%;
                -webkit-animation: animFour 15s infinite linear alternate;
                animation: animFour 15s infinite linear alternate;
            }
            @keyframes animOne {
                0% {
                    transform: translate(0px, 0px) rotate(0deg)
                }
                20% {
                    transform: translate(73px, -1px) rotate(35deg)
                }
                40% {
                    transform: translate(141px, 72px) rotate(75deg)
                }
                60% {
                    transform: translate(83px, 122px) rotate(110deg)
                }
                80% {
                    transform: translate(-40px, 72px) rotate(145deg)
                }
                100% {
                    transform: translate(0px, 0px) rotate(0deg)
                }
            }
            
            @-webkit-keyframes animOne {
                0% {
                    -webkit-transform: translate(0px, 0px) rotate(0deg)
                }
                20% {
                    -webkit-transform: translate(73px, -1px) rotate(35deg)
                }
                40% {
                    -webkit-transform: translate(141px, 72px) rotate(75deg)
                }
                60% {
                    -webkit-transform: translate(83px, 122px) rotate(110deg)
                }
                80% {
                    -webkit-transform: translate(-40px, 72px) rotate(145deg)
                }
                100% {
                    -webkit-transform: translate(0px, 0px) rotate(0deg)
                }
            }
            @keyframes animTwo {
                0% {
                    transform: translate(0px, 0px) rotate(0deg) scale(1)
                }
                20% {
                    transform: translate(73px, -1px) rotate(36deg) scale(.9)
                }
                40% {
                    transform: translate(141px, 72px) rotate(72deg) scale(1)
                }
                60% {
                    transform: translate(83px, 122px) rotate(108deg) scale(1.2)
                }
                80% {
                    transform: translate(-40px, 72px) rotate(144deg) scale(1.1)
                }
                100% {
                    transform: translate(0px, 0px) rotate(0deg) scale(1)
                }
            }
            
            @-webkit-keyframes animTwo {
                0% {
                    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1)
                }
                20% {
                    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(.9)
                }
                40% {
                    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1)
                }
                60% {
                    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2)
                }
                80% {
                    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1)
                }
                100% {
                    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1)
                }
            }
            @keyframes animThree {
                0% {
                    transform: translate(165px, -179px)
                }
                100% {
                    transform: translate(-346px, 617px)
                }
            }
            
            @-webkit-keyframes animThree {
                0% {
                    -webkit-transform: translate(165px, -179px)
                }
                100% {
                    -webkit-transform: translate(-346px, 617px)
                }
            }
            
            @keyframes animFour {
                0% {
                    transform: translate(-300px, 151px) rotate(0deg)
                }
                100% {
                    transform: translate(251px, -200px) rotate(180deg)
                }
            }
            
            @-webkit-keyframes animFour {
                0% {
                    -webkit-transform: translate(-300px, 151px) rotate(0deg)
                }
                100% {
                    -webkit-transform: translate(251px, -200px) rotate(180deg)
                }
            }
            
            @keyframes animFive {
                0% {
                    transform: translate(61px, -99px) rotate(0deg)
                }
                21% {
                    transform: translate(4px, -190px) rotate(38deg)
                }
                41% {
                    transform: translate(-139px, -200px) rotate(74deg)
                }
                60% {
                    transform: translate(-263px, -164px) rotate(108deg)
                }
                80% {
                    transform: translate(-195px, -49px) rotate(144deg)
                }
                100% {
                    transform: translate(-1px, 0px) rotate(180deg)
                }
            }
            
            @-webkit-keyframes animFive {
                0% {
                    -webkit-transform: translate(61px, -99px) rotate(0deg)
                }
                21% {
                    -webkit-transform: translate(4px, -190px) rotate(38deg)
                }
                41% {
                    -webkit-transform: translate(-139px, -200px) rotate(74deg)
                }
                60% {
                    -webkit-transform: translate(-263px, -164px) rotate(108deg)
                }
                80% {
                    -webkit-transform: translate(-195px, -49px) rotate(144deg)
                }
                100% {
                    -webkit-transform: translate(-1px, 0px) rotate(180deg)
                }
            }
        }
        
        .home-main{
            width: 85%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .home-left{
                .home-header, .home-info, .home-left-buttom{
                    width: 100%;
                }
                .home-header{
                    margin-bottom: 20px;
                    & h1{
                        font-size: 4.3rem;
                        color: #263b5e;
                        font-weight: 700;
                    }
                }
                .home-info{
                    margin-bottom: 30px;
                    & p{
                        font-size: 1.4rem;
                        color: #6a8695;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }
                .home-left-bottom{
                    display: flex;
                    align-items: center;
                    .getstarted-button{
                        width: 180px;
                        height: 50px;
                        background-color: #00c99c;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        -webkit-box-shadow: 0 3px 10px rgb(0 201 156 / 50%);
                        box-shadow: 0 3px 10px rgb(0 201 156 / 50%);
                        border-radius: 4px;
                        cursor: pointer;

                        &:hover{
                            box-shadow: none;
                        }
                        & span{
                            font-size: 1.2rem;
                            color: #ffff;
                            font-weight: 600;
                        }
                    }
                    .play-button{
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        & p{
                            font-size: 1.2rem;
                            font-weight: 600;
                            color: #263b5e;
                        }
                        .play-icon-container{
                            margin-right: 15px;
                            height: 50px;
                            width: 50px;
                            background-color: #f42267;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            -webkit-box-shadow: 0px 15px 25px 0px rgb(244 34 103 / 50%);
                            box-shadow: 0px 15px 25px 0px rgb(244 34 103 / 50%);
                        
                            &:hover{
                                box-shadow: none;
                            }
                            .play-icon{
                                font-size: 2.5rem!important;
                                color: #ffff;
                            }
                            
                        }
                    }
                    
                    
                }
            }
            .home-right{
                & img{
                    width: 100%;
                    height: 350px;
                    object-fit: contain;
                    margin-left: 20px;
                    z-index: 3;
                }
            }
        }
    }

}