@use "../../globals" as *;
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #ffff;
    z-index: 9999;

    .navbar-wrapper{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-container{
            width: 140px;
            height: 40px;
            cursor: pointer;

            & img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
       
        .navigation-list{
            display: flex;
            align-items: center;

            .navigation-item{
                list-style-type: none;
                position: relative;
                cursor: pointer;
                p{
                    font-size: 1.2rem;
                    margin-right: 30px;
                    font-weight: 500;
                    text-transform: uppercase;
                    :hover{
                        color: #622dfa;
                        cursor: pointer;
                    }
                }
                &:hover{
                    .home-options{
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(-24px);    
                    }
                }
                .home-options{
                    position: absolute;
                    top: 70px;
                    left: 0;
                    width: 220px;
                    height: fit-content;
                    background-color: #ffff;
                    transition: all 0.5s ease;
                    opacity: 0;
                    transform: translateY(0);
                    visibility: hidden;
                    .home-option{
                        list-style-type: none;
                        border-bottom: 2px solid lightgray;
                        padding: 15px 0 15px 10px;
                        & p{
                            color: rgb(51, 49, 49);
                        }
                        &:hover{
                            background-color: #622dfa;
                            p{
                                color: #ffff;
                            }
                        }
                       
                    }
                    
                }
                .about-options{
                    @extend .home-options;
                }
                .services-options{
                    @extend .home-options;
                }
                .case-options{
                    @extend .home-options;
                }
                .page-options{
                    @extend .home-options;
                }
                .blog-options{
                    @extend .home-options;
                }
                .carticon-container{
                    position: relative;
                    margin-left: 30px;
                    .carticon{
                        font-size: 2rem;
                        color: #622dfa;
                    }
                    .cart-count{
                        background-color: $blue;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -10px;
                        right: -10px;

                        & span{
                            font-size: 1.2rem;
                            color: #ffff;
                            font-weight: bold;
                        }
                    }
                }
            }
            .active{
                p{
                    color: #622dfa;
                }
            }
            
        }      
        
    }
    
}
