@use "../../globals" as *;
.footer{
    width: 100%;
    height: 450px;
    background-color: $blueblack;
    z-index: 1;
    position: relative;
    top: 80px;

    .left-design{
        background-image: url("../../assets/left-design.png");
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        width: 200px;
        height: 100%;
        object-fit: contain;
        z-index: -1;
    }
    .right-design{
        background-image: url("../../assets/right-design-white.png");
        position: absolute;
        top: 0;
        right: 0;
        background-repeat: no-repeat;
        width: 80px;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .footer-main{
        width: 100%;
        height: 100%;

        .footer-top{
            height: 85%;
            width: 100%;
            border-bottom: 1px solid $lightblue;
            display: flex;
            align-items: center;
            justify-content: center;

            .footer-top-body{
                width: 85%;
                height: 60%;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-content: center;
                .footer-top-item{
                    width: 100%;
                    height: 100%;
                    img{
                        cursor: pointer;
                        margin-bottom: 20px;
                    }
                    .web-desc{
                        font-size: 1.4rem;
                        color: #ffff;
                        width: 80%;
                        line-height: 24px;
                    }
                    h3{
                        color: #ffff;
                        font-size: 1.6rem;
                        margin-bottom: 20px;
                    }
                    .footer-links{
                        padding: 0;
                        .footer-link{
                            list-style-type: none;
                            font-size: 1.4rem;
                            margin-bottom: 10px;
                            color: #ffff;
                            cursor: pointer;
                        }
                    }
                    .footer-address{
                        color: #ffff;
                        font-size: 1.4rem;
                        width: 80%;
                        line-height: 24px;
                        margin-bottom: 15px;
                    }
                    .footer-email, .footer-telephone{
                      color: #ffff;
                      font-size: 1.4rem;
                      margin-bottom: 5px;  
                    }
                    .subscribe-text{
                        color: #ffff;
                        font-size: 1.4rem;
                        width: 80%;
                        line-height: 24px;
                        margin-bottom: 15px;
                    }
                    .footer-button{
                        width: 100%;
                        height: 40px;
                        background-color: #ffff;
                        display: flex;
                        input{
                            flex: 2;
                            border: none;
                            padding: 10px 8px;
                            box-sizing: border-box;
                            font-size: 1.4rem;
                            color: $lightblue;
                            &:focus{
                                outline: none;
                            }
                        }
                        .subscribe-btn{
                            flex: 1.4;
                            height: 100%;
                            width: 100%;
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: #ffff;
                            border: none;
                            cursor: pointer;
                            text-transform: uppercase;
                            background-color: $blue;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            width: 100%;
            height: 14%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 1.4rem;
                text-align: center;
                color: $lightblue;
            }
        }
    }
}